.spinner {
    margin: 20% auto;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: 12px solid rgb(243, 232, 232);
    border-top: 12px solid rgb(37, 37, 34);
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}