@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Indie Flower";
  src: url("fonts/IndieFlower.ttf");
}
/*Main content styling
====================================*/
body {
  font-family: Roboto;
  margin: auto;
  background-color: #92C3EC;
  transition-delay: 0.6s;
}
main {
  max-width: 1300px;
  min-width: 700px;
  margin: 0 auto;
}

h1 {
  font-family: "Indie Flower";
  font-size: 4.4em;
  font-weight: bold;
  letter-spacing: 4px;
  text-align: center;
  padding: 20px;
  color: rgba(21, 71, 209, 0.9)
}

#sources {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 75%;
  flex-wrap: nowrap;
  border-bottom: solid 3px #ffffff;
}

#newSources {
  margin: 19px 0 3px 0;
  border-radius: 5px;
  display: none;
  font-size: 1.25em;
  line-height: 0.94;
  letter-spacing: 0.5px;
  color: black;
  width: 200px;
  height: 45px;
}

#newSources:hover {
  border: solid 3px blue;
  box-shadow: -2px -2px 7px blue;
}

.sourceButton {
  font-size: 1.25em;
  font-weight: 600;
  line-height: 0.94;
  letter-spacing: 0.5px;
  text-align: center;
  color: #ffffff;
  background-color: transparent;
  border: 0px;
  width: 200px;
  height: 45px;
  padding: 5px;
  margin-bottom: 0;
}

#search {
  font-size: 1.25em;
  line-height: 0.94;
  letter-spacing: 0.5px;
  color: black;
  border: 0px;
  width: 200px;
  height: 45px;
  padding: 10px;
  margin-top: 18px;
  margin-left: 10px;
  border-radius: 5px;
}

#searchButton {
  display: flex;
  font-size: 1.2em;
  justify-content: center;
  width: 80px;
  height: 46px;
  margin-top: 18px;
  margin-left: 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

#addMoreSources {
  font-size: 1.25em;
  font-weight: 600;
  line-height: 0.94;
  letter-spacing: 0.5px;
  text-align: center;
  width: 180px;
  height: 45px;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 0;
  margin-left: 10px;
  margin-right: 0px;
  border-radius: 5px;
  border: none;
}
.sticky {
  position: fixed;
  top: -15px;
  z-index: 100;
  width: 100%;
  background-color: rgba(156, 24, 123, 0.8);
  margin: 0;
  padding: 0;
  border-bottom: none;
}
#bbc:hover, #cbc:hover, #cnn:hover, #techcrunch:hover {
  border: solid 3px blue;
  box-shadow: -2px -2px 7px blue;
  padding-bottom: 3px;
}

#search:focus {
  border: solid 3px blue;
  box-shadow: -2px -2px 7px blue;
}
.jqfocus, #bbc:focus, #cbc:focus, #cnn:focus, #techcrunch:focus {
  border-bottom: none;
  border-left: solid 3px white;
  border-right: solid 3px white;
  border-top: solid 3px white;
  background-color: rgba(0, 162, 255, 0.5);
}

/*Articles, ie main content */
h2 {
  font-size: 2.1em;
  line-height: 1.3;
  letter-spacing: 1.2px;
  color: #ffffff;
  padding: 15px 5px;
}

h3 {
  font-size: 1.3em;
  font-weight: 600;
  line-height: 0.94;
  letter-spacing: 0.5px;
  text-align: left;
  color: #130284;
  padding: 10px;
}

p {
  font-size: 1.2em;
  line-height: 2;
  letter-spacing: 2.3px;
  text-align: left;
  color: #130284;
  padding: 10px;
}

i {
  padding: 5px;
}


.articlerow {
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
  justify-content: space-around;
  min-height: 250px;  
  border-bottom: solid 1px #ffffff;
  overflow: visible;
}

.article {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.share {
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  min-height: 100px;  
  margin-bottom: 0px;
  margin-left: 10px;
}

.share-buttons {
  display: inline-flex;
}
.storyimage {
  margin: 35px 10px;
  width: 450px;
  height: auto;
  border-radius: 5px;
  float: right;
}

button {
  margin: 20px 15px 0px 0px;
  padding: 5px;
  width: 120px;
  height: 45px;
  border-radius: 4px;
  background-color: #130284;
  box-shadow: 0;
  border: 0px;
  font-size: 18px;
  font-weight: 600;
  line-height: 0.94;
  letter-spacing: 0.5px;
  text-align: center;
  color: #a5c2e6;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.fa {
  text-align: center;
  width: 50px;
  height: 50px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
.facebook {
  background-color: #627AAC;
  color: white;
}
.facebook:hover {
  background-color: rgb(73, 104, 172);
  border: 1px solid rgb(201, 196, 196)
}

.twitter {
  background-color: #76BCF1;
  color: white;
}
.twitter:hover {
  background-color: rgb(50, 159, 243);
  border: 1px solid rgb(201, 196, 196)
}

.google {
  background-color: #DD4B39;
  color: white;
}
.google:hover {
  background-color: rgb(221, 40, 16);
  border: 1px solid rgb(201, 196, 196)
}

.linkedin {
  background-color:#007BB5;
  color: white;
}
.linkedin:hover {
  background-color:rgb(1, 86, 126);
  border: 1px solid rgb(201, 196, 196)
}

.comments {
  background-color: rgb(163, 113, 113);
}
.comments:hover {
  background-color: rgb(156, 86, 86);
  border: 1px solid rgb(201, 196, 196)
}

.rotate {
  transform: rotate(360deg) scale(0.85);
  -webkit-transform: rotate(360deg) scale(0.85);
  -moz-transform: rotate(360deg) scale(0.85);
  -ms-transform: rotate(360deg) scale(0.85);
  -o-transform: rotate(360deg) scale(0.85);
  transition-duration: 1.2s;
}
.clicked {

}
/*Footer*/
footer {
  font-family: "Indie Flower";
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: solid 2px white;
  position: absolute;
  width: 100%;
  height: 16%;
  background-color: #16038f;
  margin: 0;
  padding: 0;
  color: whitesmoke;
  font-size: 2.7em;
}
/*Other classes */
.error {
  text-align: center;
  color: red;
  margin: 260px auto;
  font-size: 1.6em;

}
/*To adapt app to different screnn sizes
======================================================*/
@media (max-width: 1590px) {
  #sources {
    width: 100%;
  }
}
@media (max-width: 940px) {
  .articlerow {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .article {
    width: 100%;
  }

  .share {
    width: 100%;
    flex-direction: row;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h1 {
    font-size: 2.7em;
  }
  h2 {
    font-size: 1.8em;
  }
  p {
    font-size: 1.15em;
  }
  .storyimage {
    margin: 25px 6px;
    width: 300px;
    height: auto;
    border-radius: 5px;
    float: right;
  }  
}

@media (max-width: 480px) {
  .share {
    flex-direction: column;
    width: 98%;
  }

  .readmore p {
    text-align: center;
  }

  .storyimage {
    width: 100%;
    height: auto;
  }

  a {
    text-align: center;
  }
  button {
    margin-top: 10px;
  }
}